/* Général */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f3f; 
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  nav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #011627;
    padding-top: 60px;
    z-index: 99;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 16px;
    text-align: center;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #03396c;
  }
  
  /* Menu burger */
  .menu-burger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
  }
  
  /* Contenu du jeu */
  .game-container {
    text-align: center;
  }
  
  #message {
    margin: 20px 0;
  }
  
  #guessInput {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #03396c;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #005b96;
  }
  
  #feedbackImage {
    margin-top: 20px;
  }
  